@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="mb-4 text-4xl">Welcome</h1>
  <p>Learn about <a class="text-blue-500" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET
      Core</a>.</p>
</div>
